#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  align-items: center;
  display: flex;
}
#mc_embed_signup form {
  margin-bottom: 1.75rem;
}
#mc_embed_signup .button {
  background-color: #e535ab;
}
