* {
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .page-header {
    flex-direction: column;
  }
}
.graphql-college {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #e535ab;
  padding-top: 50px;
  margin-top: 50px;
}
